<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sand.ibsmis.dao.inf.ButtonMapper">
<resultMap id="buttonResult" type="Button">
	<id property="buttonCode" column="buttoncode"/>
	<result property="buttonName" column="buttonname"/>
	<result property="buttonIcon" column="buttonicon"/>
	<result property="buttonEvent" column="buttonevent"/>
	<result property="buttonDesc" column="resdesc"/>
	<result property="buttonState" column="state"/>
</resultMap>
<select id="getButtonById" parameterType="java.lang.String" resultMap="buttonResult">
	SELECT * FROM system_button sb where sb.buttoncode =#{buttonId}
</select>
<select id="findButtons" resultMap="buttonResult">
	select * from system_button sb order by sb.buttoncode asc
</select>
<select id="findButtonByMenuRole" parameterType="java.lang.String" resultMap="buttonResult">
	select t.* from system_button t join system_role_menubutton m on m.buttoncode=t.buttoncode and m.role_id=#{0} and m.menucode=#{1}
</select>
<select id="findButtonByMenu" resultMap="buttonResult">
	select t.* from system_button t join system_menubutton b on t.buttoncode=b.buttoncode and b.menucode=#{menuId}
</select>
<select id="queryButtonCount" resultType="java.lang.Integer">
	select count(*) from system_button sb
</select>
<insert id="insertButton" parameterType="com.sand.ibsmis.bean.Button" flushCache="true">
   INSERT INTO system_button (buttoncode,buttonname,buttonicon,buttonevent,resdesc,state) 
   VALUES 
   (#{buttonCode},#{buttonName},#{buttonIcon,jdbcType=VARCHAR},#{buttonEvent,jdbcType=VARCHAR},#{buttonDesc,jdbcType=VARCHAR},#{buttonState,jdbcType=VARCHAR})
</insert>
<update id="updateButton" parameterType="com.sand.ibsmis.bean.Button" flushCache="true">
   update system_button set buttonname=#{buttonName},buttonicon=#{buttonIcon,jdbcType=VARCHAR},buttonevent=#{buttonEvent,jdbcType=VARCHAR},resdesc=#{buttonDesc,jdbcType=VARCHAR},state=#{buttonState,jdbcType=VARCHAR} where buttoncode=#{buttonCode}
</update>
<delete id="deleteButton" parameterType="java.lang.String">
	delete from system_button where buttoncode=#{buttoncode}
</delete>
<!--<update id="updateRole">
	update system_role set role_comment=''
</update>
--></mapper>